{{define "cookies"}}
<aside class="cookies" data-element="cookies">
  <div class="cookies__cont cont">
    <div class="cookies__info">
      <span class="cookies__text">Сайт использует файлы cookie. Более подробная информация приведена в нашей
        <a href="/policy.html">Политике конфиденциальности</a>.
      </span>
    </div>
    <div class="cookies__btn-box">
      <button class="cookies__button button-orange" type="button" data-element="cookies__button">OK</button>
    </div>
  </div>
</aside>
{{end}}