{{define "payment"}}
<article class="payment">
    <div class="payment__cont cont">
        <h1 class="payment__caption caption">Оплата</h1>
        <div class="payment__area">
            <div class="payment__box payment__box_1">
                <h3 class="payment__headline headline">Безналичный расчет</h3>
                <p class="payment__text text">Для юридических лиц и ИП предлагаем удобную оплату по безналичному
                    расчету. После оформления заказа мы свяжемся с вами для подтверждения деталей и выставления
                    счета. Все необходимые документы (счет, договор, накладные) будут подготовлены оперативно.
                </p>
            </div>
            <div class="payment__box payment__box_2">
                <h3 class="payment__headline headline">Наличный расчет</h3>
                <p class="payment__text text">Вы можете оплатить заказ наличными при получении товара. Наш
                    курьер предоставит вам кассовый чек и все необходимые документы. Этот способ оплаты доступен
                    как для физических, так и для юридических лиц.</p>
            </div>
        </div>
    </div>
</article>
{{end}}