extends ../components/_layout/layout

block head
  +title('Доставка и упаковка задников из кожкартона саламндер')
  +description('Способы доставки и упаковки задников из кожкартона саламндер от производителя')

block body
  include ../components/delivery/delivery
  include ../components/delivery/courier
  include ../components/delivery/transport
  include ../components/delivery/packaging
  include ../components/delivery/dimensions
