extends ../components/_layout/layout

block head
  +title('Страница не найдена')
  +description("К сожалению, запрашиваемая Вами страница не найдена. Попробуйте вернуться на главную")

block body
  include ../components/thank&error/thank
  +thanksOrError('Ошибка', ['Такой страницы нет.'])
