extends ../components/_layout/layout

block head
  +title('Гарантия на задники из кожкартона Саламандер')
  +description('Гарантийные обязательства и порядок возврата задников для обуви из кожкартона Саламандер от производителя')

block body
  include ../components/guarantee/guarantee
