extends ../components/_layout/layout

block head
  +title('Задник из кожкартона саламандер от производителя, доставка по всей России')
  +description('Задник из кожкартона саламандер от производителя. Доступные цены, 7 видов задника, оптовая продажа с доставкой по России, заказать можно прямо на сайте')

block body
  include ../components/index/cap
  include ../components/index/products
  include ../components/index/showcase
  include ../components/index/production
  include ../components/index/orders
  include ../components/index/order-form
  include ../components/index/faq
