extends ../components/_layout/layout

block head
  +title('Главная')

block body
  include ../components/index/cap
  include ../components/index/products
  include ../components/index/what-famous
  include ../components/index/about
  include ../components/index/orders
  include ../components/index/order-form
  include ../components/index/faq-questions
