extends ../components/_layout/layout

block head
  +title('Оплата задников из кожкартона саламандер')
  +description('Способы оплаты задников из кожкартона саламандер от производителя')

block body
  include ../components/payment/payment
