extends ../components/_layout/layout

block head
  +title(`Политика конфиденциальности сайта ${DOMAIN}`)
  +description(`Политика защиты персональной информации пользователей сайта ${DOMAIN}`)

block body
  include ../components/policy
