.courier
  .courier__cont.cont
    h3.courier__headline.headline Курьером по Москве
    p.courier__text.text.
      Доставка производится в будние дни с 9 до 18 часов. Стоимость и время доставки или отгрузки согласовывается
      с менеджерами.
