-
  const dimensionsList = [
    {
      name: 'Упаковки стульев',
      value: [
        'Профиль 20 мм — 8 шт',
        'Профиль 20 мм — 10 шт',
        'Профиль 25 мм — 8 шт',
        'Профиль 25 мм — 10 шт',
        'Профиль 25 мм с подлокотниками',
      ],
    },
    {
      name: 'Размеры упаковки, м',
      value: [
        '1,75 × 0,5 × 0,7',
        '2,20 × 0,5 × 0,7',
        '1,80 × 0,5 × 0,7',
        '2,22 × 0,5 × 0,7',
        '2,10 × 0,6 × 0,8',
      ],
    },
    {
      name: 'Объем, м³',
      value: [
        '0,61',
        '0,77',
        '0,63',
        '0,78',
        '1',
      ],
    },
    {
      name: 'Масса груза, кг',
      value: [
        '52',
        '65',
        '60',
        '75',
        '60/68',
      ],
    },
  ]

article.dimensions
  .dimensions__cont.cont
    h2.dimensions__title.title Габариты стульев в упаковке
    ul.dimensions__list
      each item in dimensionsList
        li.dimensions__item
          span.dimensions__name.text= item.name
          each value in item.value
            span.dimensions__value= value
