-
  const packagingList = [
    'Чтобы доставка была максимально выгодной, формируем пачки по 8 или 10 штук. Каждую пачку обматываем плотным картоном и стрейч-пленкой. Между спинок прокладываем поролон, на ножки надеваем синтетическую сетку.',
  ]

article.packaging
  .packaging__cont.cont
    h2.packaging__title.title Упаковка стульев
    each item in packagingList
      p.packaging__text.text= item
    .packaging__video
      iframe.packaging__frame(src="https://vk.com/video_ext.php?oid=-49931751&id=456239979&hd=2", allow="accelerometer; autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock", allowfullscreen=true, loading="lazy")
