.error404
  .error404__cont.cont
    h1.error404__caption.caption Страница не найдена
    p.error404__text.text-big Возможно, её удалили или ещё не создали
    .error404__btn-box
      a.error404__link.button-orange.text(href=getPage('index').link) На главную
