.error404
  .error404__content
    h1.error404__title 404
    p.error404__text Страница не найдена
    if hideHeader
      a.btn.btn-primary(href="/") Вернуться на главную
    else
      a.btn.btn-primary(href="/products") Вернуться к товарам
