{{define "cap"}}
<section class="cap cap_index">
    <div class="cap__cont cont">
      <div class="cap__block">
        <h1 class="cap__caption caption">Задник из кожкартона</h1>
        <h2 class="cap__subtitle text">от производителя</h2>
        <a class="cap__button button-orange text-big" href="#order-form" data-role="scroll-to-anchor">Заказать</a>
      </div>
      <picture class="cap__picture">
        <img class="cap__image" src="/static/client/images/cap/zadnik-cap.png" alt="Задник из кожкартона" loading="lazy">
      </picture>
    </div>
</section>
{{end}}