{{define "faq"}}
<div class="faq" id="faq" data-element="faq">
    <div class="faq__cont cont">
      <h2 class="faq__title title">Вопросы</h2>
      <div class="faq__area">
        <div class="faq__area-column">
          <div class="faq__item">
            <p class="faq__question text" data-element="faq__question">Что такое задник из кожкартона и зачем он нужен в обуви?</p>
            <p class="faq__answer text-small" data-element="faq__answer">Задник из кожкартона — это уплотнённый элемент, который вставляется в заднюю часть обуви для удержания формы пятки. Он предотвращает деформацию обуви, улучшает посадку и делает ношение более комфортным.</p>
          </div>
          <div class="faq__item">
            <p class="faq__question text" data-element="faq__question">Чем кожкартон лучше других материалов?</p>
            <p class="faq__answer text-small" data-element="faq__answer">Кожкартон прочный, хорошо держит форму, при этом остаётся гибким. В отличие от пластиковых вставок, он «дышит» и более экологичен. Отличный выбор для ремонта обуви или при пошиве новой пары.</p>
          </div>
        </div>
        <div class="faq__area-column">
          <div class="faq__item">
            <p class="faq__question text" data-element="faq__question">Подходит ли этот задник для ремонта любой обуви?</p>
            <p class="faq__answer text-small" data-element="faq__answer">Да, задники из кожкартона универсальны и подойдут для большинства видов обуви — будь то кроссовки, ботинки, туфли или рабочая обувь. Важно правильно подобрать размер и аккуратно установить.</p>
          </div>
          <div class="faq__item">
            <p class="faq__question text" data-element="faq__question">Как установить задник самостоятельно?</p>
            <p class="faq__answer text-small" data-element="faq__answer">Задник можно установить вручную при помощи обувного клея. Для надёжной фиксации желательно немного разогреть кожкартон и плотно прижать его к внутренней части задника обуви. При необходимости — обратиться к мастеру.</p>
          </div>
        </div>
      </div>
    </div>
</div>
{{end}}