{{define "order-steps"}}
<div class="orders">
    <div class="orders__cont cont">
      <span class="orders__title title">Как сделать заказ?</span>
      <ol class="orders__list">
        <li class="orders__item">
          <span class="orders__headline">Оставьте заявку</span>
          <p class="orders__text text">Заполните форму заказа на сайте</p>
        </li>
        <li class="orders__item">
          <span class="orders__headline">Подтвердите заказ</span>
          <p class="orders__text text">Мы свяжемся с вами, поможем в выборе модели, согласуем характеристики и стоимость</p>
        </li>
        <li class="orders__item">
          <span class="orders__headline">Изготовление</span>
          <p class="orders__text text">Производство изготовит заказ</p>
        </li>
        <li class="orders__item">
          <span class="orders__headline">Получите заказ</span>
          <p class="orders__text text">Доставка по РФ от 6 рабочих дней</p>
        </li>
      </ol>
    </div>
</div>
{{end}}