{{define "production"}}
<article class="production">
    <div class="production__cont cont">
      <span class="production__title title">О производстве</span>
      <div class="production__area">
        <div class="production__info">
          <p class="production__text text-big">Один из лидеров по продажам задника в Кировской области</p>
          <ul class="production__list">
            <li class="production__item text-big">Компания с 15-летней историей на рынке</li>
            <li class="production__item text-big">С 2010 года компания осуществляет безперебойное производство задника из кожкартона и стелек для обуви</li>
          </ul>
          <p class="production__offer text-big">Изготовим задник из кожкартона специально для вас: изменим фасон, выберем модификацию и подберем индивидуальный размер</p>
        </div>
        <picture class="production__picture">
          <source srcset="/static/client/images/about/about-1_476.webp 1x, /static/client/images/about/about-1_714.webp 1.5x" type="image/webp">
          <source srcset="/static/client/images/about/about-1_476.jpg 1x, /static/client/images/about/about-1_714.jpg 1.5x">
          <img class="production__image" src="/static/client/images/about/about-1_476.jpg" alt="Производитель задника из кожкартона и стелек - фото" title="Производитель задника из кожкартона и стелек" loading="lazy">
        </picture>
      </div>
    </div>
</article>
{{end}}