{{define "showcase"}}
<article class="showcase">
    <div class="showcase__cont cont">
      <span class="showcase__title title">Чем хорош задник из кожкартона?</span>
      <div class="showcase__list">
        <div class="showcase__item">
          <img class="showcase__image" src="/static/client/images/showcase/showcase-1.svg" alt="#">
          <span class="showcase__headline headline">Повышенная прочность</span>
        </div>
        <div class="showcase__item">
          <img class="showcase__image" src="/static/client/images/showcase/showcase-2.svg" alt="#">
          <span class="showcase__headline headline">Анатомическая форма</span>
        </div>
        <div class="showcase__item">
          <img class="showcase__image" src="/static/client/images/showcase/showcase-3.svg" alt="#">
          <span class="showcase__headline headline">Влагоустойчивость</span>
        </div>
        <div class="showcase__item">
          <img class="showcase__image" src="/static/client/images/showcase/showcase-4.svg" alt="#">
          <span class="showcase__headline headline">Экологичность</span>
        </div>
        <div class="showcase__item">
          <img class="showcase__image" src="/static/client/images/showcase/showcase-5.svg" alt="#">
          <span class="showcase__headline headline">Комфорт при носке</span>
        </div>
        <div class="showcase__item">
          <img class="showcase__image" src="/static/client/images/showcase/showcase-6.svg" alt="#">
          <span class="showcase__headline headline">Легкость</span>
        </div>
      </div>
    </div>
</article>
{{end}}