{{template "base" .}}

{{define "content"}}
<div class="auth">
    <div class="auth__cont cont">
        <div class="auth__box">
            <h2 class="auth__title title">{{.Title}}</h2>
        </div>

        <form class="auth__form" action="/admin/login" method="POST">
            {{if .Error}}
            <div class="auth__alert text-big">{{.Error}}</div>
            {{end}}

            <div class="auth__group">
                <label class="auth__label text-big" for="username">Имя пользователя</label>
                <input id="username" class="auth__input" type="text" name="username" required>
            </div>

            <div class="auth__group">
                <label class="auth__label text-big" for="password">Пароль</label>
                <input id="password" class="auth__input" type="password" name="password" required>
            </div>

            <button class="auth__button button-orange text" type="submit">Войти</button>
        </form>
    </div>
</div>
{{end}}
