extends ../components/_layout/layout

block head
  +title('Производство столов в стиле лофт')
  +description('Заказать производство столов лофт по индивидуальным размерам от производителя. Разработка и согласование проекта, различные варианты оплаты, доставка по России и СНГ')

block body
