header.header
  .header__cont.cont
    nav.header__nav
      a.header__nav-link(href="#" class=view === 'products-index' ? 'active' : '')
        span Товары
      a.header__nav-link(href="#") 
        span Выйти
