{{define "delivery"}}
<article class="delivery">
    <div class="delivery__cont cont">
        <h1 class="delivery__caption caption">Доставка задников для обуви</h1>
        <p class="delivery__text-big">Мы предлагаем быструю и надежную доставку задников для обуви по всей
            России. Выбираем оптимальный способ доставки с учетом срочности и стоимости. Задники тщательно
            упакованы для сохранности формы и качества.</p>
        <h2 class="delivery__title title">Способы доставки</h2>
        <p class="delivery__text text">Отправляем задники для обуви во все регионы России через проверенные
            транспортные компании: СДЭК, Деловые Линии, ПЭК и Почту России. Стоимость доставки можно включить
            в общий счет или оплатить при получении.</p>
        <h3 class="delivery__headline headline">Самовывоз</h3>
        <p class="delivery__text text">Вы можете забрать заказанные задники самостоятельно с нашего производства
            в Кировской области, п. Вахруши.</p>
        <div class="delivery__area">
            <ul class="delivery__list">
                <li class="delivery__item">
                    <h4 class="delivery__name">Производство</h4><span class="delivery__address">п. Вахруши,
                        ул. Рабочая, д. 30</span><span class="delivery__time">ПН-ПТ: с 8:00 до 17:00
                        (мск)</span><span class="delivery__time">СБ, ВС: с 11:00 до 15:00 (мск)</span>
                </li>
            </ul>
            <div class="delivery__map" id="delivery-map" data-zoom="6"></div>
        </div>
    </div>
</article>
{{end}}