extends ../components/_layout/layout

block variables
  - const title = 'Авторизация'
  - const hideHeader = true
  - const hideWrapper = true

block head
  +title(title)
  +description('')

block body
  include ../components/auth/auth
