aside.cookies(data-element="cookies")
  .cookies__cont.cont
    .cookies__info
      span.cookies__text
        | Сайт использует файлы cookie. Более подробная информация приведена в нашей
        |
        a(href=getLinkPage('policy')) Политике конфиденциальности
        | .
    .cookies__btn-box
      button.cookies__button.button-orange(type="button", data-element="cookies__button") OK
