-
  const menuList = [
    {name: 'Главная', link: '/', view: 'index'},
    {name: 'Доставка', link: '/delivery.html', view: 'delivery'},
    {name: 'Оплата', link: '/payment.html', view: 'payment'}
  ]

  const menuMobileList = [
    {name: 'Главная', link: '/', view: 'index'},
    {name: 'Доставка', link: '/delivery.html', view: 'delivery'},
    {name: 'Оплата', link: '/payment.html', view: 'payment'}
  ]

header.header(data-element="menu")
  .header__layer(data-element="header__layer")
  include header-mob
  include menu
