block variables
include ../../_variables
include _connect-style
include _title
include _description

doctype html
html(lang='ru')
  head
    include _head
    block head
  body(class=bodyClass)
    if !hideHeader
      include header
    .wrapper
      block body
    include scripts
    link(rel='stylesheet', href=`${pathStatics}/styles/main.css`)
