{{define "guarantee"}}
<article class="guarantee">
    <div class="guarantee__cont cont">
        <h1 class="guarantee__caption caption">Гарантия</h1>
        <p class="guarantee__text guarantee__text_big">Мы производим задники для обуви из кожкартона Саламандер
            с соблюдением высоких стандартов качества и безопасности. Заботясь о своих покупателях,
            мы внимательно относимся к качеству материалов и тщательно проверяем каждую партию перед отправкой.
        </p>
        <p class="guarantee__text guarantee__text_big">Мы всегда несем ответственность за качество и гарантийное
            обслуживание товара в соответствии с законодательством РФ.</p>
        <p class="guarantee__text guarantee__text_big">Гарантийный срок на задники из кожкартона Саламандер
            составляет 12 месяцев со дня изготовления, если иное не предусмотрено договором.</p>
        <h2 class="guarantee__title title">Гарантийные обязательства</h2>
        <p class="guarantee__text text">Гарантийный срок на товар составляет 12 месяцев с даты получения товара
            Заказчиком, если иное не указано в договоре на конкретную партию товара.</p>
        <p class="guarantee__text text">Гарантийные обязательства распространяются на дефекты производственного
            характера, включая расслоение материала, деформацию и потерю формы при нормальных условиях
            эксплуатации.</p>
        <p class="guarantee__text text">Гарантийные обязательства не распространяются на дефекты товара,
            возникшие в связи с нарушением правил эксплуатации, размещенных на сайте
            https://xn--k1aahclgep4d.xn--p1ai/, механическим повреждением товара или воздействием агрессивных
            сред.</p>
        <p class="guarantee__text text">В случае обнаружения дефекта товара, если будет установлено, что дефект
            носит производственный характер, Заказчик вправе потребовать от Поставщика замены товара, либо
            безвозмездного устранения данного дефекта, либо соразмерного уменьшения цены товара.</p>
        <h2 class="guarantee__title title">Порядок возврата товара</h2>
        <p class="guarantee__text text">Возврат товара может быть произведен в случае обнаружения ненадлежащего
            качества товара.</p>
        <p class="guarantee__text text">Продавец несет ответственность за недостатки товара, если они возникли
            по его вине (производственные дефекты), либо возникли до момента поставки товара заказчику.</p>
        <p class="guarantee__text text">В соответствии с п. 2 ст. 475 Гражданского кодекса РФ, требование
            о расторжении договора и возврате уплаченной за товар денежной суммы может быть предъявлено в случае
            существенного нарушения требований к качеству товара (обнаружения неустранимых недостатков,
            недостатков, которые не могут быть устранены без несоразмерных расходов или затрат времени, или
            выявляются неоднократно, либо проявляются вновь после их устранения, и других подобных недостатков).
        </p>
        <p class="guarantee__text text">При обнаружении устранимых недостатков товара производственного
            характера, либо иных недостатков, которые возникли до момента поставки товара, в соответствии с п. 1
            ст. 475 ГК РФ, возможны следующие варианты:</p>
        <ul class="guarantee__list">
            <li class="guarantee__item text">соразмерное уменьшение покупной цены товара;</li>
            <li class="guarantee__item text">безвозмездное устранение недостатков товара в разумный срок;</li>
            <li class="guarantee__item text">возмещение Ваших расходов на устранение недостатков товара.</li>
        </ul>
        <p class="guarantee__text text">В случае приобретения товара физическим лицом исключительно для личных
            и иных нужд, не связанных с осуществлением предпринимательской деятельности, при обнаружении
            ненадлежащего качества товара, покупатель вправе по своему выбору заявлять требования, установленные
            ст. 18 Закона РФ «О защите прав потребителей».</p>
        <p class="guarantee__text text">Если товар качественный и приобретен физическим лицом исключительно для
            личных и иных нужд, не связанных с осуществлением предпринимательской деятельности, в течение 14
            дней с даты покупки покупатель может требовать замены товара на аналогичный, если он не подошел
            по форме, габаритам, фасону, расцветке, размеру или комплектации. Обмен товара проводится, если
            указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы,
            фабричные ярлыки.</p>
        <p class="guarantee__text text">Возврат товара производится, если аналогичный товар (подходящий
            по форме, габаритам, фасону, расцветке, размеру или комплектации) отсутствует в продаже на день
            обращения потребителя к продавцу.</p>
        <h2 class="guarantee__title title">Порядок предъявления претензии по качеству</h2>
        <p class="guarantee__text text">Претензия о возникновении (обнаружении) недостатка товара оформляется
            Заказчиком письменно и направляется Поставщику с приложением копии договора поставки, акта приёмки
            товара, фото/видео-изображений дефекта товара и иных документов, подтверждающих наличие и причину
            возникновения дефекта.</p>
        <p class="guarantee__text text">Поставщик в течение 10 дней с даты получения претензии обязан направить
            в адрес Заказчика мотивированный ответ с принятым по результатам рассмотрения претензии решением.
        </p>
        <p class="guarantee__text text">В случае принятия Сторонами решения о замене товара, замена производится
            в течение 14 рабочих дней. В случае, если для осуществления замены товара в указанный срок
            отсутствует возможность, Стороны принимают решение о продлении срока замены, либо приходят к иному
            соглашению о порядке исполнения гарантийных обязательств.</p>
        <p class="guarantee__text text">В случае изменения в ходе производства товара по инициативе Заказчика
            стандартных характеристик товара (толщина, плотность, форма), Поставщик не несёт ответственности
            за возникновение дефектов, связанных с таким изменением, а гарантийное обслуживание не производится.
        </p>
        <p class="guarantee__text text">В случае приобретения товара разными партиями, Поставщик не гарантирует
            полного соответствия цвета, фактуры, размеров и т. д. между партиями.</p>
    </div>
</article>
{{end}}