-
  const faqQuestionsList = [
    [
      {
        question: 'Что такое задник из кожкартона и зачем он нужен в обуви?',
        answer: 'Задник из кожкартона — это уплотнённый элемент, который вставляется в заднюю часть обуви для удержания формы пятки. Он предотвращает деформацию обуви, улучшает посадку и делает ношение более комфортным.'
      },
      {
        question: 'Чем кожкартон лучше других материалов?',
        answer: 'Кожкартон прочный, хорошо держит форму, при этом остаётся гибким. В отличие от пластиковых вставок, он "дышит" и более экологичен. Отличный выбор для ремонта обуви или при пошиве новой пары.'
      },
    ],
    [
      {
        question: 'Подходит ли этот задник для ремонта любой обуви?',
        answer: 'Да, задники из кожкартона универсальны и подойдут для большинства видов обуви — будь то кроссовки, ботинки, туфли или рабочая обувь. Важно правильно подобрать размер и аккуратно установить.'
      },
      {
        question: 'Как установить задник самостоятельно?',
        answer: 'Задник можно установить вручную при помощи обувного клея. Для надёжной фиксации желательно немного разогреть кожкартон и плотно прижать его к внутренней части задника обуви. При необходимости — обратиться к мастеру.'
      },
    ]
  ]

.faq#faq(data-element="faq")
  .faq__cont.cont
    h2.faq__title.title Вопросы
    .faq__area
      each item in faqQuestionsList
        .faq__area-column
          each faq in item
            .faq__item
              p.faq__question.text(data-element='faq__question')= faq.question
              p.faq__answer.text-small(data-element='faq__answer')= faq.answer
